@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("fonts/lato-fontfacekit/Lato-Lig-webfont.eot"), url("fonts/lato-fontfacekit/Lato-Lig-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: normal;
  src: url("fonts/lato-fontfacekit/Lato-LigIta-webfont.eot"), url("fonts/lato-fontfacekit/Lato-LigIta-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/lato-fontfacekit/Lato-Reg-webfont.eot"), url("fonts/lato-fontfacekit/Lato-Reg-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: normal;
  src: url("fonts/lato-fontfacekit/Lato-RegIta-webfont.eot"), url("fonts/lato-fontfacekit/Lato-RegIta-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/lato-fontfacekit/Lato-Bol-webfont.eot"), url("fonts/lato-fontfacekit/Lato-Bol-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: bold;
  src: url("fonts/lato-fontfacekit/Lato-BolIta-webfont.eot"), url("fonts/lato-fontfacekit/Lato-BolIta-webfont.ttf") format("truetype"); }

html {
  margin: 0em;
  padding: 0em;
}

body {
  height: 100%;
  min-height: 100%;
  font-size: 1em;
  font-family: 'Lato';
  margin: 0;
  padding: 0;
  background-color: white;
}

div.tooltip {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  color: black;
  padding: 0.3em 0.5em;
  font-size: 0.95em;
  background: #eee;
  border: 1px;
  border-color: #444;
  border-radius: 0.5em;
  pointer-events: none;
  z-index: 3;
}

#svg-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top:0;
  left: 0;
  fill: #fff;
  fill-opacity: 0;
}

div#video-container {
  position: absolute;
  width: auto;
  height: auto;
  padding: 0em;
  margin: 0em;
  background: #ddd;
  border: 0px;
  fill-opacity: 0;
  pointer-events: none;
  z-index: 1;
}

div#video-container video {
  position: inherit;
  padding: 0em;
  margin: 0em;
  width: 100%;
  height: auto;
  z-index: 1;
}

div#full-video-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: black;
  top:0;
  left: 0;
}

div#full-video-container video {
  position: inherit;
  padding: 0em;
  margin: 0em;
  width: 100%;
  height: auto;
  z-index: 1;
}

#map-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.map-svg {
  position: inherit;
  z-index: 2;
}

#map-image {
  position: inherit;
  width: 100%;
  height: auto;
}

svg.map-svg circle.location {
  fill: #ff7f0e;
  fill-opacity: 0.4;
  stroke: #666666;
  stroke-width: 1.5; }
  svg.map-svg circle.selected {
    fill: #ff7f0e;
    fill-opacity: 0.1;
    stroke: #ff7f0e;
    stroke-opacity: 1.0; }
  svg.map-svg circle:hover {
    fill: #ff7f0e;
    fill-opacity: 0.1;
    stroke: #444444;
    stroke-opacity: 1.0; }
  svg.map-svg circle.selected:hover {
    fill: #ff7f0e;
    stroke: #ff7f0e; }
