html {
  background-color: #aaa;
}

div#content-container {
  top:0px;
  left: 0px;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  background-color: black;
}

div#content-container img {
  display: block;
  position: inherit;
  top: 0px;
  left: 0px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  opacity: 1;
  height: auto;
}

div.tooltip {
  position: absolute;
  left: 0;
  top: 0;
  text-align: left;
  width: auto;
  height: auto;
  color: black;
  padding: 0.2em 0.5em;
  color: #333;
  text-shadow: #fff -1px 1px 1px, #fff 1px -1px 1px, rgba(0,0,0,0.3) 10px 15px 25px;
  font-family: 'Roboto';
  font-size: 1.5em;
  font-weight: 800;
  background: #eee;
  border: 1px;
  border-color: #444;
  border-radius: 1.0em;
  pointer-events: none;
  z-index: 3;
}

#svg-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top:0;
  left: 0;
  fill: #fff;
  fill-opacity: 0;
}

.map-svg {
  position: inherit;
  z-index: 2;
}

svg circle.location {
  opacity: 0;
  fill: #ff4f0e;
  fill-opacity: 0.6;
  stroke: #666666;
  stroke-opacity: 1.0; }
  svg circle.waltz {
    opacity: 0.6;
    fill: #ff0030;
    fill-opacity: 0.2;
    stroke: #ff2f0e; }
  svg circle.selected {
    opacity: 1;
    fill: #ff0030;
    fill-opacity: 0.2;
    stroke: #ff2f0e; }
  svg circle:hover {
    opacity: 1;
    fill: #ff0030;
    fill-opacity: 0.2;
    stroke: #ff0000; }
  svg circle.selected:hover {
    opacity: 1;
    fill: #ff0030;
    stroke: #ff2f0e; }

svg text.location {
  font-family: 'Roboto';
  font-size: 1.3em;
  font-weight: bold;
  opacity: 0;
  fill: #000;
  fill-opacity: 1; }
  svg text.selected {
    opacity: 1;
    fill: #000;
    fill-opacity: 1; }
  svg text:hover {
    opacity: 1;
    fill: #000;
    fill-opacity: 1; }
  svg text.selected:hover {
    opacity: 1;
    fill: #000;
    fill-opacity: 1; }
