html {
  margin: 0em;
  padding: 0em;
  background-color: #aaa;
}

body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  font-size: 1em;
  font-family: 'Lato';
  margin: 0;
  padding: 0;
  background-color: white;
}

div#content-container {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  background-color: black;
  top:0;
  left: 0;
}

div#content-container video {
  position: inherit;
  padding: 0em;
  margin: 0em;
  width: 100%;
  height: auto;
  z-index: 1;
}

div#image-container {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: rgba(0, 0, 0, 0);
  opacity: 1;
  z-index: 2;
  height: auto;
}

div#content-container img {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  opacity: 1;
  z-index: 2;
  height: auto;
}

div.tooltip {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  color: black;
  padding: 0.2em 0.5em;
  font-family: 'Roboto';
  font-size: 1.3em;
  font-weight: bold;
  background: #eee;
  border: 1px;
  border-color: #444;
  border-radius: 1.0em;
  pointer-events: none;
  z-index: 3;
}

div.imageNumberTip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  top: 25%;
  left: 50%;
  background: rgba(0, 0, 0, 0);
  padding: 0.1em 0.2em;
  font-family: 'Roboto';
  font-size: 8em;
  font-weight: 900;
  letter-spacing: -0.025em;
  color: rgb(255, 182, 12);
  text-shadow: 2px 1px 1px #000;
  pointer-events: none;
  z-index: 5;
}
