html {
  margin: 0em;
  padding: 0em;
  background-color: #aaa;
}

body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  font-size: 1em;
  font-family: 'Lato';
  margin: 0;
  padding: 0;
  background-color: white;
}

div#content-container {
  top:0px;
  left: 0px;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  background-color: black;
}

div#content-container img {
  display: block;
  position: inherit;
  top: 0px;
  left: 0px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  opacity: 1;
  height: auto;
}

code {
  font-size: 90%;
}

h1 {
  color: #333;
  font-family: 'Lato';
  font-weight: 600;
  font-size: 1.4em;
}
h2 {
  color: #555;
  font-family: 'Lato';
  font-weight: 600;
  font-size: 1.15em;
  margin-top: 0;
}
h3 {
  color: #777;
  font-family: 'Lato';
  font-weight: 600;
  font-size: 1.05em;
}

a {
  text-decoration: none;
}
p {
  margin: 1.0em 1.0em;
  font-size: 0.95em;
}
ul {
  list-style-type: none;
  margin: 1em 0em 1em 0em;
  padding: 0em 0em 0em 0em;
}
ul li {
  margin: 0.3em 0.2em 0.3em 1.2em;
  padding: 0em 0em 0em 0em;
}

div.tooltip {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  color: black;
  padding: 0.2em 0.5em;
  font-family: 'Roboto';
  font-size: 1.3em;
  font-weight: bold;
  background: #eee;
  border: 1px;
  border-color: #444;
  border-radius: 1.0em;
  pointer-events: none;
  z-index: 3;
}

#svg-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top:0;
  left: 0;
  fill: #fff;
  fill-opacity: 0;
}

.map-svg {
  position: inherit;
  z-index: 2;
}

svg circle.location {
  opacity: 0;
  fill: #ff4f0e;
  fill-opacity: 0.6;
  stroke: #666666; }
  svg circle.waltz {
    opacity: 0.5;
    fill: #ff2f0e;
    fill-opacity: 0.3;
    stroke: #ff2f0e;
    stroke-opacity: 1.0; }
  svg circle.selected {
    opacity: 1;
    fill: #ff2f0e;
    fill-opacity: 0.3;
    stroke: #ff2f0e;
    stroke-opacity: 1.0; }
  svg circle:hover {
    opacity: 1;
    fill: #ff2f0e;
    fill-opacity: 0.1;
    stroke: #444444;
    stroke-opacity: 1.0; }
  svg circle.selected:hover {
    opacity: 1;
    fill: #ff2f0e;
    stroke: #ff2f0e; }

svg text.location {
  font-family: 'Roboto';
  font-size: 1.3em;
  font-weight: bold;
  opacity: 0;
  fill: #000;
  fill-opacity: 1; }
  svg text.selected {
    opacity: 1;
    fill: #000;
    fill-opacity: 1; }
  svg text:hover {
    opacity: 1;
    fill: #000;
    fill-opacity: 1; }
  svg text.selected:hover {
    opacity: 1;
    fill: #000;
    fill-opacity: 1; }
